.bs .settings-header {
  text-align: center;
  color: #5A5A5A;
  margin-bottom: 30px; }
.bs .settings-body {
  background-color: #fff;
  max-width: 700px;
  padding: 10px 30px 30px 30px;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.175); }
  .bs .settings-body .nav-tabs {
    margin-bottom: 20px; }
  .bs .settings-body .tab-content {
    padding-top: 10px; }
  .bs .settings-body h3, .bs .settings-body h4 {
    margin: 0 0 20px 0;
    text-align: center; }
  .bs .settings-body fieldset.selection-list {
    margin-top: 40px; }
.bs .action-buttons {
  text-align: center;
  margin-top: 40px; }
.bs .settings-form .control-label.multiline {
  padding-top: 0; }
.bs .settings-form .input-group a.label:link,
.bs .settings-form .input-group a.label:visited {
  margin: 0 5px; }
.bs .settings-form .ignored-activities .control-label {
  padding-top: 2px; }
.bs .settings-form .btn {
  min-width: 75px; }
